apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: example-webshop-service
    app.kubernetes.io/managed-by: kustomize
  name: api-service-service
  namespace: system
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 7443
  selector:
    control-plane: controller-manager
    app.kubernetes.io/name: example-webshop-service
