---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: tenants.product.webshop.harikube.info
spec:
  group: product.webshop.harikube.info
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    singular: tenant
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.displayName
      name: DisplayName
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Tenant is the Schema for the tenants API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TenantSpec defines the desired state of Tenant.
            properties:
              description:
                description: Description represents a brief description of the addon.
                type: string
              displayName:
                description: DisplayName represents the human friendly name of the
                  addon.
                type: string
              userRefs:
                description: Users represents the associated users information.
                items:
                  properties:
                    name:
                      default: ""
                      description: |-
                        Name of the referent.
                        This field is effectively required, but due to backwards compatibility is
                        allowed to be empty. Instances of this type with an empty value here are
                        almost certainly wrong.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                    namespace:
                      description: Namespace represents the namespace of the referenced
                        object.
                      type: string
                  required:
                  - namespace
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
            required:
            - displayName
            - userRefs
            type: object
          status:
            description: TenantStatus defines the observed state of Tenant.
            properties:
              lastGeneration:
                format: int64
                type: integer
            type: object
        type: object
    selectableFields:
    - jsonPath: .spec.displayName
    served: true
    storage: true
    subresources:
      status: {}
